body {
    color: #eee;
    background: #121212;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
body a {
    color: #809fff;
}
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

* {
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    background-color: #121250;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 50%;
    background: #cbae82;
    padding: 10px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

#users {
    float: left;
    background: #0033cc;
    padding: 100px;
}

.message-container {
    float: right;
    background: #fcdab7;
    width: 800px;
    margin: 0 auto;
    border: solid 1px #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#messages {
    height: 400px;
    overflow: auto;
}

#sendMessage {
    margin: 10px;
}


#messages span {
    float: right;
}

#message-myself {
    background: #1e5f74;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#message-recipient {
    background: #1d2d50;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#message-myself p {
    font-weight: bold;
}

#message-recipient p {
    font-weight: bold;
}
