body {
    color: #222;
    background: #fff;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: #0033cc;
}
.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}

* {
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    background-color: darkgrey;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav a {
    float: left;
    display: block;
    color: #222222;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.container {
    margin: auto;
    width: 50%;
    background: #ffe0b2;
    padding: 10px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

#users {
    float: left;
    background: #E8A87C;
    padding: 50px;
    border-radius: 5px;
}

.message-container {
    color: #eee;
    float: right;
    background: #fcdab7;
    width: 800px;
    margin: 0 auto;
    border: solid 1px #ccc;
    border-radius: 5px;
    overflow: hidden;
}

#messages {
    height: 400px;
    overflow: auto;
}

#sendMessage {
    margin: 10px;
}


#messages span {
    float: right;
}

#message-myself {
    background: #1e5f74;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#message-recipient {
    background: #1d2d50;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#message-myself p {
    font-weight: bold;
}

#message-recipient p {
    font-weight: bold;
}

#invitation {
    padding: 100px 100px;
}

.status{
    width:8px;
    height:8px;
    border-radius:50%;
    /*border-style: solid;*/
    /*border-width: 2px;*/
}
.green{
    background-color:#58b666;
}
.red{
    background-color:#ff725d;
}


#user {
    padding: 10px;
}

#user img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
    display: block;
    float: left;
}

#user span{
    display: inline-block;
    margin-left: 10px;
    float: right;
    margin-top: 20px;
}

#user p{
    display: inline-block;
    margin-right: 20px;
}

#user:hover{
    background-color: #0081cc;
    cursor: pointer;
}