#<IfModule mod_rewrite.c>
#  RewriteEngine on
#  RewriteRule ^$ public/ [L]
#  RewriteRule (.*) public/$1 [L]
#</IfModule>
#ErrorDocument 404 /app/errors/not-found.html
#DirectoryIndex /public/index.php
